.skills-container {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
}

.skills-list {
  margin-top: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.period {
  white-space: nowrap;
  padding-top: 5px;

  width: 100px;
  font-size: 15px;
}

.skill-item {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.skill-title-name {
  color: #6495ed;
}

.trash-icon-projects {
  margin-left: auto;
  margin-right: 30px;
  transform: translateY(20%);
  cursor: pointer;
  color: #6495ed;
  font-size: 26px;
}

.projects-icon {
  font-size: 20px;
  transform: translateY(20%);
  padding-right: 15px;
  color: black;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}

.arrow-icon {
  font-size: 20px;
  transform: translateY(20%);
  padding-right: 10px;
}

.skills-list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.skills-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.skills-list::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 1px inherit; /* creates padding around scroll thumb */
}

.description {
  color: gray;
}
