.skills-container {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
}

.skills-list {
  margin-top: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.period {
  white-space: nowrap;
  padding-top: 5px;

  width: 100px;
  font-size: 15px;
}

.add-form {
  margin-top: 20px;
  margin-left: 28px;
}

.trash-icon-skills {
  margin-left: auto;
  margin-right: 30px;
  transform: translateY(70%);
  cursor: pointer;
  color: #6495ed;
}

.add-skill {
  border-color: transparent;
  background-color: #6495ed;
  color: white;
  outline: 0;
  border-radius: 6px;
  width: 400px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.add-button-interest {
  border-color: transparent;
  background-color: #6495ed;
  margin-left: 20px;
  color: white;
  border-radius: 6px;
}

.add-skill-icon {
  transform: translateY(25%);
  padding-left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #6495ed;
}

.skill-item {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.skill-title-name {
  color: #6495ed;
}

.skills-icon {
  font-size: 20px;
  transform: translateY(20%);
  padding-right: 15px;
}

.arrow-icon {
  font-size: 20px;
  transform: translateY(20%);
  padding-right: 10px;
  color: #6495ed;
}

.skills-list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.skills-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.skills-list::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 1px inherit; /* creates padding around scroll thumb */
}

.description {
  color: gray;
}
