.languages-section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 17%;
}

.languages-header {
  font-family: "PT Sans", sans-serif;
  color: white;
}

.language-list {
  margin-top: 10px;
}

.language-item {
  padding-left: 7px;
  margin-top: 5%;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "PT Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select {
  width: 90px;
  color: black;
}
